.title {
  .title-subtext {
    padding-left: 20px;
    font-size: 0.8rem;
  }

  .title-header {
    margin-bottom: 1px;

    ion-text {
      font-weight: 600;
    }
  }
}

.container {
  form {
    height: 100%;
  }

  ion-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-10%);

    .input-container:not(:first-of-type) {
      margin-top: 2rem;
    }
  }

  .form-header {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  .forgot-container {
    margin-top: 1rem;

    ion-note {
      cursor: pointer;
      font-size: 0.8rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
